#Python
__pycache__/
*.env
.env.*
venv/
ENV/
env/

#FastAPI
backend/__pycache__/
backend/services/__pycache__/
backend/.env
backend/venv/
backend/.mypy_cache/
backend/venv/.pyvenv.cfg/

#React
frontend/node_modules/
frontend/.env
frontend/build/
frontend/dist/
frontend/.next/
frontend/.cache/

#macOS
.DS_Store

#Testing
coverage/
*.cover
*.coverage
.cache
pytest_cache/
